# Django
SECRET_KEY=cambia-esto-por-una-clave-segura-larga
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Base de datos
DB_ENGINE=django.db.backends.postgresql
DB_NAME=futbol_db
DB_USER=futbol_user
DB_PASSWORD=futbol_pass
DB_HOST=db
DB_PORT=5432

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200
CSRF_TRUSTED_ORIGINS=http://localhost:4200